# editorconfig.org
root = true

[*]
indent_style = space    # 缩进样式
indent_size = 2         # 缩进大小
end_of_line = lf        # 行尾，UNIX/Linux 使用的是 0x0A（LF），早期的 Mac OS 使用的是 0x0D（CR），后来的 OS X 在更换内核后与 UNIX 保持一致了
# 但 DOS/Windows 一直使用 0x0D0A（CRLF）作为换行符。
charset = utf-8
trim_trailing_whitespace = true   # 修剪尾随空格
insert_final_newline = true       # 插入最后的换行符

[*.md]
trim_trailing_whitespace = false
